

body{
    background-color: #f8dfd6;
    margin: 15px;
 } 
 .header{
     background-color: #c43f33;
     border-radius: 18px;
     border: solid;
     border-width: 5px;
     border-style:ridge;
     border-color: #0f0f0f;
     padding: 0.6%;
     color: white;
     opacity: 0.9;
 }

 #title{
   text-decoration: solid;
   text-align:center;
 }

 h2{
   text-decoration: underline;
   text-align: center;
 }

 h3{
   text-align: left;
   }

 #things{
   text-decoration: underline;
 }

 .me{
   text-align: right;
   padding-right: 110px;
 }

 img{
   float: right;
  max-width: 340px;
  max-height: 390px;
  margin: 10px;
  border: solid;
  border-color: #c43f33;
  border-width: 10px;
 }
 
 p{
   letter-spacing: 1px;
   font-family: Arial, Helvetica, sans-serif;
   border-style: solid;
   padding: 15px;
   line-height: 30px;
   text-align: center;
 }

 .favorite{
   font-style: italic;
   font-weight: bold;
   font-family: Arial, Helvetica, sans-serif
 }

 a{
   color: purple;
   font-weight: bold;
   margin: 10px;
 }

 button{
   margin-top: 10px;
   background-color: whitesmoke;
   border-radius: 15px;
   font-family: Arial, Helvetica, sans-serif;
   transition-duration: 700ms;
   display: inline-block;
   border-style:double;
 }

 button:hover{
   background-color: lightgreen;
 }

 form{
   padding: 9px;
   background-color: white;
   font-style: italic;
   border-style: solid;
   font-weight: 900px;
   height: 440px;
   width: 250px;
   border-color: #c43f33;
   border-width: 10px;
   box-sizing: content-box;
   margin: auto 0;
   line-height: 25px;
   display: block;
 }

 input[type=button]{
   color: black;
   background-color: whitesmoke;
   transition-duration: 700ms;
   padding: 5px;
   border-style:double;
 }

 input:hover{
   background-color: lightgreen;
 }

 footer{
   background-color: #c43f33;
   opacity: 0.9;
   position:relative;
 }